body{
    background-color: rgb(209, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    background-color: rgb(53, 53, 53);
    color: rgb(186, 186, 186);
    top: 50px;
    left: 25px;
    right: 25px;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    
}

.image{
    right: 50px;
    background-color: rgb(209, 209, 209);
    width: 620px;
    height: 420px;
}

img{
    margin: 10px;
}

a{
    color: aqua;
}

.narration {
    font-weight: bold;
}